body{
    display:flex;
    flex-direction: column;
}
ul{
    list-style-type:none;
}
.top-background{
    background-color:darkslateblue;
}
.big-top-container{
    display:flex;
    flex-direction: column;
    
}
.header{
    display:flex;
}

h3{
    text-align:center;
}
.random-info{
    display:flex;
    justify-content:center;
}